{{#define type="doc" id="_salas" name="Programación Salas"}}
  {{param pagesStart="1"}}
  {{param pagesTabsPosition="left"}}
  {{param pagesTabsWidth="20%"}}

  {{#menu id="menu"}}
    {{item text="Refrescar" icon="refresh" type="refresh"}}
  {{/menu}}

  {{browser id="agendas" menu="menu"}}
  {{scheduler id="agendas" type="free" views="week, day" currentView="week" firstDayOfWeek="0" startDayHour="9" endDayHour="24" source="planAgenda" view="_salas" multiResources="true" resourceLabel="Salas" resourceId="actor" resourceName="_actor" template="verAgenda"}}
{{/define}}

{{#markup}}
  {{#page}}
    {{#row}}
      {{#col medium="100%"}}
        {{#widget type="scheduler" scheduler="agendas"}}
          {{param sucursal="=_params.sucursal"}}
        {{/widget}}
      {{/col}}
    {{/row}}
  {{/page}}
  {{#template id="verAgenda"}}
    <div style="margin:-7px;padding:7px;height:110%;width:auto;color:white;background-color:{{color}};">
      {{text}}<br>
      {{date startDate "HH:mm A"}} - {{date endDate "HH:mm A"}}
    </div>
  {{/template}}
{{/markup}}