{{#define id="persona"}}
  {{param defaultDisplay="_name"}}
  {{param defaultView="todos"}}
  {{param pageStart="1"}}
  {{param pagesJustified="true"}}
  {{param pagesTabsPosition="left"}}
  {{param pagesTabsWidth="10%"}}
  {{param pagesTabsMinPadding="false"}}
  {{param allowAdd="true"}}
  {{param allowEdit="true"}}
  {{param allowDirectOperations="true"}}
  {{param attachSection="adjuntos"}}
  {{param attachLanguage="es"}}
  {{param confirmUnSaved="true"}}
  {{param showChangeHistory="true"}}
  {{param pdfPageSize="letter"}}
  {{param startOnOpen="persona"}}
  {{param baseName="Datos Generales"}}
  {{param displayExpr="persona.nombre"}}
  {{param name="=_params._board||_name"}}
  {{param bannerTopTemplate="banner4"}}
  {{param addClass="no-padding-right"}}

  {{tileView id="resumen" height="100%" width="100%" itemMargin="15" baseItemHeight="140" baseItemWidth="140" direction="vertical" section="resumen" itemTemplate="resumen" orderBy="orden" controlFromMetadata="true"}}

  {{#transform id="copiar"}}
    {{update section="contexto" value="=contexto"}}
    {{update section="persona" transform="copiarPersona"}}
  {{/transform}}  

  {{#view id="lista"}}
    {{#find}}
      {{sort field="_name" direction="asc"}}
      {{search field="persona.nombreCompleto"}}
      {{search field="persona.clave"}}
      {{search field="persona.grupo"}}
      {{filter field="_hide" neq="=true"}}
      {{filter condition="tipo" field="_parent.type" eq="=tipo"}}
    {{/find}}
  {{/view}}
  {{#view id="ubicaciones"}}
    {{#find}}
      {{sort field="_name" direction="asc"}}
      {{search field="persona.nombreCompleto"}}
      {{search field="persona.clave"}}
      {{filter field="_hide" neq="=true"}}
      {{filter field="_parent.type" eq="'ubicacion'"}}
    {{/find}}
  {{/view}}
  {{#view id="tesoreria"}}
    {{#find}}
      {{sort field="_name" direction="asc"}}
      {{search field="persona.nombreCompleto"}}
      {{search field="persona.clave"}}
      {{filter field="_hide" neq="=true"}}
      {{filter field="_parent.type" eq="'tesoreria'"}}
    {{/find}}
  {{/view}}
  {{#view id="clientesProveedores"}}
    {{#find}}
      {{sort field="_name" direction="asc"}}
      {{search field="persona.nombreCompleto"}}
      {{search field="persona.clave"}}
      {{filter field="_hide" neq="=true"}}
      {{filter field="_parent.type" in="cliente,proveedor"}}
    {{/find}}
  {{/view}}
  {{!-- {{#view id="clientesProveedoresEmpresas"}}
    {{#find}}
      {{sort field="_name" direction="asc"}}
      {{search field="persona.nombreCompleto"}}
      {{search field="persona.clave"}}
      {{filter field="_hide" neq="=true"}}
      {{filter field="_parent.type" in="='cliente,proveedor,empresa'"}}
    {{/find}}
  {{/view}} --}}
  {{#action id="ordenCompra" source="notaOrdenCompra" label="Orden Compra" transform="copiar" hide="true" type="add-subdoc" visibleMode="close" color="deep-orange" onlyPost="true"}}
    {{param aliasDestino="='AG'"}}
  {{/action}}
  {{#action id="entradaCompra" source="notaEntradaCompra" label="Entrada Compra" transform="copiar" hide="true" type="add-subdoc" visibleMode="close" color="deep-orange" onlyPost="true"}}
    {{param aliasDestino="='AG'"}}
  {{/action}}
  {{#action id="devolucionCompra" source="notaDevolucionCompra" label="Devolución Compra" transform="copiar" hide="true" type="add-subdoc" visibleMode="close" color="deep-orange" onlyPost="true"}}
    {{param aliasDestino="='AG'"}}
  {{/action}}
  {{#action id="gasto" source="notaGasto" label="Gasto" transform="copiar" hide="true" type="add-subdoc" visibleMode="close" color="deep-orange" onlyPost="true"}}
    {{param aliasDestino="='AG'"}}
  {{/action}}
  {{#action id="devolucionGasto" source="notaDevolucionGasto" label="Devolución Gasto" transform="copiar" hide="true" type="add-subdoc" visibleMode="close" color="deep-orange" onlyPost="true"}}
    {{param aliasDestino="='AG'"}}
  {{/action}}
  {{#action id="neteoCxp" source="notaNeteoCxp" label="Neteo" transform="copiar" hide="true" type="add-subdoc" visibleMode="close" color="deep-orange" onlyPost="true" fromSource="mov" fromView="sugerirNeteo" toSection="aplicacion"}}
    {{param aux="='cxp'"}}
  {{/action}}
  {{#action id="pago" source="notaPago" label="Pago" transform="copiar" hide="true" type="add-subdoc" visibleMode="close" color="deep-orange" onlyPost="true" fromSource="mov" fromView="sugerirLiquidacion" toSection="aplicacion"}}
    {{param aux="='cxp'"}}
  {{/action}}
  {{#action id="traspaso" source="notaTraspaso" label="Traspaso" transform="copiar" hide="true" type="add-subdoc" visibleMode="close" color="deep-orange" onlyPost="true"}}
    {{param aliasOrigen="='AG'"}}
  {{/action}}
  {{#action id="entradaDiversa" source="notaEntradaDiversa" label="Entrada Diversa" transform="copiar" hide="true" type="add-subdoc" visibleMode="close" color="deep-orange" onlyPost="true"}}
  {{/action}}
  {{#action id="salidaDiversa" source="notaSalidaDiversa" label="Salida Diversa" transform="copiar" hide="true" type="add-subdoc" visibleMode="close" color="deep-orange" onlyPost="true"}}
  {{/action}}
  {{#action id="pedido" source="notaTraspaso" subType="pedido" subTypeName="Pedido" label="Pedido" transform="copiar" hide="true" type="add-subdoc" visibleMode="close" color="deep-orange" onlyPost="true"}}
    {{param aliasOrigen="='AG'"}}
  {{/action}}
  {{#action id="factura" source="notaFactura" label="Factura" transform="copiar" hide="true" type="add-subdoc" visibleMode="close" color="deep-orange" onlyPost="true"}}
    {{param aliasOrigen="='AG'"}}
  {{/action}}
  {{#action id="devolucionVenta" source="notaDevolucionVenta" label="Devolución Venta" transform="copiar" hide="true" type="add-subdoc" visibleMode="close" color="deep-orange" onlyPost="true"}}
    {{param aliasOrigen="='AG'"}}
  {{/action}}
  {{#action id="neteoCxc" source="notaNeteoCxc" label="Neteo" transform="copiar" hide="true" type="add-subdoc" visibleMode="close" color="deep-orange" onlyPost="true" fromSource="mov" fromView="sugerirNeteo" toSection="aplicacion"}}
    {{param aux="='cxc'"}}
  {{/action}}
  {{#action id="cobro" source="notaCobro" label="Cobro" transform="copiar" hide="true" type="add-subdoc" visibleMode="close" color="deep-orange" onlyPost="true" fromSource="mov" fromView="sugerirLiquidacion" toSection="aplicacion"}}
    {{param aux="='cxc'"}}
    {{param persona="_id"}}
  {{/action}}
  {{#action id="dispersion" source="notaDispersion" label="Dispersión" transform="copiar" hide="true" type="add-subdoc" visibleMode="close" color="deep-orange" onlyPost="true"}}
  {{/action}}
  {{#action id="aportacionCapital" source="notaAportacionCapital" label="Aportación Capital" transform="copiar" hide="true" type="add-subdoc" visibleMode="close" color="deep-orange" onlyPost="true"}}
  {{/action}}
  {{#action id="retiroCapital" source="notaRetiroCapital" label="Retiro Capital" transform="copiar" hide="true" type="add-subdoc" visibleMode="close" color="deep-orange" onlyPost="true"}}
  {{/action}}
{{/define}}
{{#markup}}
  {{#page name="Dashboard"}}
    {{#row class="no-padding-right"}}
      {{#col medium="100%"}}
        {{widget type="tileView" tileView="resumen"}}
      {{/col}}
    {{/row}}
  {{/page}}
  {{#template id="resumen"}}
    <div class="auto-tile-resumen{{#if disabled}}{{else}} pointer{{/if}} table-responsive dash">
      <table class="auto-tile-table">
        <tr>
          <td style="width:90%">
            <h5 class="auto-tile-h5">{{_name}}</h5>
          </td>
          <td style="width:10%">
            <img class="auto-img-resumen image-center" src="https://his-imagenes.s3-accelerate.amazonaws.com/widgets/{{id}}.png">
          </td>
        </tr>
      </table>
      <div class="table-responsive dash" style="height: 84%;width: 100%;">
        {{#if unificarLista}}
          <table>
            <tbody>
              {{#each lista}}
                <tr style="font-size:{{fontSize}};">
                {{!-- {{#if url}}
                  <td style="white-space:normal">
                    <strong>{{etiqueta}}: </strong><a class="link" href="{{url}}" target="_blank">{{nombre}}</a>
                  </td>
                {{else}} --}}
                  {{#if nombre}}
                  <td class="table-unify">{{#if etiqueta}}<strong>{{etiqueta}}:</strong> {{/if}}{{nombre}}{{#if desde}} (Duración: <strong>{{fromNowTime desde}}</strong>){{/if}}</td>
                  {{else}}
                    {{#if desde}}
                    <td class="table-unify">{{#if etiqueta}}<strong>{{etiqueta}}</strong> (Duración: <strong>{{fromNowTime desde}}</strong>){{/if}}</td>
                    {{/if}}
                  {{/if}}
                {{!-- {{/if}} --}}
                </tr>
              {{/each}}     
            </tbody>
          </table>
        {{else}}
          <table class="table record auto-form-record">
            <tbody>
              {{#each lista}}
                <tr style="font-size:{{fontSize}};">
                {{#if nombre}}
                  <td class="table-data center">{{#if etiqueta}}<strong>{{etiqueta}}:</strong> {{/if}}{{nombre}}{{#if desde}} (Duración: <strong>{{fromNowTime desde}}</strong>){{/if}}</td>
                {{else}}
                  {{#if desde}}
                    <td class="table-data center">{{#if etiqueta}}<strong>{{etiqueta}}</strong> (Duración: <strong>{{fromNowTime desde}}</strong>){{/if}}</td>
                  {{/if}}
                {{/if}}
                </tr>
              {{/each}}     
            </tbody>
          </table>
        {{/if}}
      </div>
    </div>
  {{/template}}    
  {{#template id="verPersona"}}
    <div class="list-material">
      <li class="has-action-left">
        <div class="list-action-left"><i class="icon ion-{{contexto.icono}} text-{{contexto.color}}"></i></div>
        <div class="list-content">
          {{_name}}
          <span style="font-size:12px;float:right;">{{persona.correo}}</span>
          </br><span style="font-size:12px;">{{persona._area}}</span>
          {{#if _readOnly}}
          <span class="read-only" style="font-size:12px;"><strong>&nbsp;&nbsp;Solo Lectura&nbsp;&nbsp;</strong></span>
          {{/if}}
        </div>
      </li>
    </div>
  {{/template}}
{{/markup}}