{{#define id="articulo"}}  
  {{param name="=_params._tipoArticulo||'Artículo'"}}
  {{#view id="lista"}}
    {{#find}}
      {{include field="_name"}}
      {{include field="base.codigo"}}
      {{include field="base.marca"}}
      {{include field="base.estilo"}}
      {{include field="base.tamano"}}
      {{include field="base.color"}}
      {{include field="base.cliente"}}
      {{sort field="_name" direction="asc"}}
      {{filter condition="=tipoArticulo" field="base.tipoArticulo" in="=tipoArticulo"}}
      {{search field="_name"}}
      {{search field="base.codigo"}}
      {{search field="base.codigoUpc"}}
      {{search field="base.codigoSku"}}
      {{search field="base.codigoLocal"}}
      {{search field="base._marca"}}
      {{search field="base._estilo"}}
      {{search field="base._tamano"}}
      {{search field="base._color"}}
    {{/find}}
  {{/view}}
  {{#view id="porCodigo"}}
    {{#find limit="-1"}}
      {{include field="base.codigo"}}
      {{include field="_name"}}
      {{include field="base.precioLista"}}
      {{filter field="base.codigo" exists="=true"}}
    {{/find}}
  {{/view}}
  {{#view id="porCodigoUpc"}}
    {{#find limit="-1"}}
      {{include field="base.codigoUpc"}}
      {{include field="_name"}}
      {{include field="base.precioLista"}}
      {{filter field="base.codigoUpc" exists="=true"}}
    {{/find}}
  {{/view}}
  {{#view id="porCodigoSku"}}
    {{#find limit="-1"}}
      {{include field="base.codigoSku"}}
      {{include field="_name"}}
      {{include field="base.precioLista"}}
      {{filter field="base.codigoSku" exists="=true"}}
    {{/find}}
  {{/view}}
  {{#view id="porCodigoLocal"}}
    {{#find limit="-1"}}
      {{include field="base.codigoLocal"}}
      {{include field="_name"}}
      {{include field="base.precioLista"}}
      {{filter field="base.codigoLocal" exists="=true"}}
    {{/find}}
  {{/view}}

  {{#section id="base"}}
    {{field id="nombre" type="expr" value="=@descripcion"}}
    {{field id="tipoArticulo" defaultValue="_params.tipoArticulo" readOnly="true"}}
    {{field id="esInventariable" type="expr" value="=tipoArticulo=='inventariable'"}}
    {{field id="esServicio" type="expr" value="=tipoArticulo=='servicio'"}}
  {{/section}}
  {{action id="eliminar" hide="true"}}
  {{action id="ver" condition="=true" type="openFolder" label="Adjuntos" items="=adjuntos" color="grey" visibleMode="close"}}
  {{#grid id="adjuntos" section="adjuntos" allowRemove="true" allowSort="true" sortBy="orden, fecha"}}
    {{column field="nombre" width="400"}}
    {{column field="tipo" width="200"}}
    {{column field="fecha" width="100" readOnly="true"}}
    {{column field="ext" width="100" readOnly="true"}}
    {{column field="tamano" width="100" readOnly="true"}}
    {{column field="orden" width="60"}}
  {{/grid}}
  {{#browser id="inventariables" view="lista" showDoc="true" docOrientation="vertical" docPosition="75%" zoom="80%"}}
    {{list itemTemplate="lista" allowSearch="true" allowRefresh="true" allowEdit="true" allowInsert="true"}}
    {{param tipoArticulo="inventariable"}}
    {{param _tipoArticulo="Inventariable"}}
  {{/browser}}
  {{#browser id="servicios" view="lista" showDoc="true" docOrientation="vertical" docPosition="75%" zoom="80%"}}
    {{list itemTemplate="lista" allowSearch="true" allowRefresh="true" allowEdit="true" allowInsert="true"}}
    {{param tipoArticulo="servicio"}}
    {{param _tipoArticulo="Servicio"}}
  {{/browser}}  
{{/define}}
{{#markup}}
  {{#template id="lista"}}
    <div>
      <span style="font-size:12px;white-space:pre-wrap;font-style:italic;">{{_name}}</span></br>
      <span style="font-size:12px;">{{base.codigo}}</span>
    </div>
  {{/template}}
{{/markup}}