{{#define id="entidad"}}  
  {{action id="eliminar" hide="true"}}
  {{param name="=base.nombre||'Entidad'"}}
  {{action id="ver" condition="=true" type="openFolder" label="Adjuntos" items="=adjuntos" color="grey" visibleMode="close"}}
  {{#grid id="adjuntos" section="adjuntos" allowRemove="true" allowSort="true" sortBy="orden, fecha"}}
    {{column field="nombre" width="400"}}
    {{column field="tipo" width="200"}}
    {{column field="fecha" width="100" readOnly="true"}}
    {{column field="ext" width="100" readOnly="true"}}
    {{column field="tamano" width="100" readOnly="true"}}
    {{column field="orden" width="60"}}
  {{/grid}}
  {{#view id="lista"}}
    {{#find}}
      {{include field="base"}}
      {{sort field="_name" direction="asc"}}
      {{search field="base.nombre"}}
      {{search field="base.descripcion"}}
      {{!-- {{search field="base.resumen"}} --}}
      {{filter condition="=cliente" field="base.cliente" eq="=cliente"}}
    {{/find}}
  {{/view}}
  {{!-- {{#transform id="copiar"}}
    {{#update section="base"}}
      {{set cliente="=base.cliente"}}
      {{set proyecto="=_id"}}
    {{/update}}
  {{/transform}}
  {{action id="notaIncidente" source="notaIncidente" label="Incidente" transform="copiar" hide="true" type="add-subdoc" visibleMode="close" color="deep-orange" btnSolid="true" onlyPost="true"}} --}}
  {{#section id="base"}}
    {{field id="cliente" defaultValue="=_params.cliente"}}
    {{!-- {{field id="resumen" type="expr" value="=calc.concat(base.nombre,_cliente)"}} --}}
  {{/section}}
  {{browser id="lista" view="lista" color="blue"}}
{{/define}}
{{#markup}}
  {{#template id="lista"}}
    <div>
      {{base.nombre}}
      <br><span style="font-size:12px;">{{base._tipoEntidad}}</span>
    </div>
  {{/template}}
{{/markup}}